<?xml version="1.0"?>
<launch>

  <include file="$(find dynamic_models)/launch/empty_world.launch">
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
    <arg name="headless" value="false"/>
    <arg name="debug" value="false"/>
    <arg name="world_name" value="$(find dynamic_models)/worlds/empty.world"/>
  </include>

  <!-- Flip Door Left -->

  <param name="spawn_door_1" command="$(find xacro)/xacro.py $(find dynamic_models)/models/flip_door_right.sdf" />

  <node pkg="gazebo_ros" type="spawn_model" name="gazebo_door1" args="-sdf -param spawn_door_1 -model flip_door_1 -x -3.042358 -y 5.532777 -z 0.3" respawn="false" output="screen">
  </node>

  <!-- Flip Door Right -->

  <param name="spawn_door_2" command="$(find xacro)/xacro.py $(find dynamic_models)/models/flip_door_left.sdf" />

  <node pkg="gazebo_ros" type="spawn_model" name="gazebo_door2" args="-sdf -param spawn_door_2 -model flip_door_2 -x -4.452335 -y 5.078486 -z 0.3" respawn="false" output="screen">
  </node>

</launch>